body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.652rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}

a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container{

  padding-top: 100px;
  line-height: 2;
}

.intro{
  width: 30%;
  margin: auto;
}

.bottom-container{
  background-color: #66BFBF;
  word-spacing: 30px;
  padding: 50px 0 20px;
  line-height: 4;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row{
  margin:100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.Html-gif{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.problem-gif{
  width: 25%;
  float:right;
  margin-right: 30px;
}

p{
  font-weight: 900;
  color: #40514E;
}

hr{
  border: dotted #EAF6F6 6px ;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.btn {
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 17px;
   font-weight: 100;
   padding: 7px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.contact-me{
  width: 33%;
  margin:auto;
}

.end{
  color: #EAF6F6;
  font-weight: normal;
  font-size: 12px;
  word-spacing: normal;
}

.footer-link{
  text-decoration: none;
}
